@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --empty: #757575;
    --warning: #E4A81D;
    --correct: #43A047;
}

body {
    background-color: rgb(41, 39, 39);
}

.title {
    margin-top: 1%;
    text-align: center;
    font-family: 'Lilita One', cursive;
    color: rgb(0, 255, 115);
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

#game {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 5rem;
    width: 100%;
    height: 72vh;
}

.game {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

.gameTable {
    border-radius: 7px;
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
}

.gameTable.empty{
    background-color: var(--empty);
}
.gameTable.warning{
    background-color: var(--warning);
}
.gameTable.correct{
    background-color: var(--correct);
}